@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');

:root {
    --primary-color: #0088ff;
}

html {
    background-color: #161616;
    color: white;
    font-family: 'Quicksand', sans-serif;
    font-weight: 400;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

body {
    margin: 0;
    padding: 0;
    width: 100%;
    overflow-x: hidden;
}

h1 {
    color: var(--primary-color);
    margin: 0;
    font-size: 5em;
}

hero {
    font-size: 1.2em;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    height: 35vh;
    justify-content: center;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

ul li {
    margin: 5px 0;
}

a {
    color: #6db3f2;
    text-decoration: none;
    transition: color 0.3s, text-decoration 0.3s;
}

a:hover {
    color: #007ce9;
    text-decoration: underline;
}

hr {
    width: 100%;
    height: 2px;
    border: none;
    color: var(--primary-color);
    background-color: var(--primary-color);
}

section {
    margin: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

section p {
    text-align: center;
}

section a {
    font-size: 1.1em;
}

section h2 {
    margin-bottom: 0;
    font-size: 2em;
}

section hr {
    margin: 20px 0;
    width: 50%;
    background-color: #003a6d;
}

section ul {
    list-style-type: disc;
}