PORT=8080

# Document root directory, change this from 'example' to your site's directory name
SITE_DIR=example

# Custom 404 page, relative to site dir
404_PAGE=404.html

# Dir listing if no index.html found
DIR_LISTING=true

# Requests/second rate limit per IP, 0 for none
REQUEST_RATELIMIT=5

# Contact email for error pages
CONTACT_EMAIL=webmaster@example.com

# HTTP Authentication, uncomment to enable
# AUTH_CREDENTIALS=user:password

# Logging info 
# (logs requests to .log file, if log exceeds max lines, rotates old log to .log.bak (overwrites previous .log.bak))
TOGGLE_LOGGING=true
LOG_MAX_LINES=5000

# Trust X-Real-IP header from reverse proxy (e.g. nginx, caddy), may be unsafe if not behind a trusted proxy
TRUST_XREALIP=false